
<div class="margin-five">
    <h3>Сервисы</h3>
    <ul class="pm-zero">
        <li>
             <a asp-action="GetPass" asp-controller="Home" class="nav-link active margin-five" aria-current="page" 
                    data-ajax="true" data-ajax-mode="replace" data-ajax-update="#main-content" data-ajax-success="OnSpace" data-ajax-loading="#spinner">
                    Генерировать пароль
             </a>
        </li>
    </ul>
</div>